<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Ideias - Casa criativa</title>
    <meta charset="utf8" />
    <link rel="stylesheet" href="ideias.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="page-ideas">
    <div id="container">
      <header>
        <a href="/">
          <img src="/src/assets/logo.png" alt="imagem da logomarca" />
        </a>
        <nav>
          <li><a href="/">Início</a></li>
          <li><a href="#" onclick="onOff()"> Nova Ideia</a></li>
        </nav>
      </header>
      <section id="title">
        <p>em exibição</p>
        <h1>Ideias</h1>
      </section>
      <main>
        <section id="ideias">
          {% for idea in ideas%}
          <div class="idea">
            <img src="{{idea.image}}" alt="Imagem de " {{idea.title}} />

            <div class="content">
              <h3>{{idea.title}}</h3>
              <p>{{idea.category}}</p>
              <div class="description">{{idea.description}}</div>
              <a href="{{idea.link}}" target="_blank">Ir para a ideia</a>
            </div>
          </div>
          {%endfor%}
        </section>
      </main>

      <footer>Implementar o roda pé</footer>
    </div>

    {% include "modal.html" %}

    <script src="/scripts.js"></script>
  </body>
</html>
