<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Ideias - Casa criativa</title>
    <meta charset="utf8" />
    <link rel="stylesheet" href="ideias.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="page-ideas">
    <div id="container">
      <header>
        <a href="/">
          <img src="/src/assets/logo.png" alt="imagem da logomarca" />
        </a>
        <nav>
          <li><a href="index.html">Início</a></li>
          <li><a href="#" onclick="onOff()"> Nova Ideia</a></li>
        </nav>
      </header>
      <section id="title">
        <p>em exibião</p>
        <h1>Ideias</h1>
      </section>
      <main>
        <section id="ideias">
          {% for idea in ideas%}
          <div class="idea">
            <img src="{{idea.img}}" alt="Imagem de " {{idea.title}} />

            <div class="content">
              <h3>{{idea.title}}</h3>
              <p>{{idea.category}}</p>
              <div class="description">{{idea.description}}</div>
              <a href="{{idea.url}}" target="_blank">Ir para a ideia</a>
            </div>
          </div>
          {%endfor%}
        </section>
      </main>

      <footer>Implementar o roda pé</footer>
    </div>

    <div id="modal" class="hide">
      <div class="content">
        <h1>Nova ideia</h1>
        <form>
          <div class="input-wrapper">
            <label for="title">Título da Ideia</label>
            <input type="text" name="title" />
          </div>

          <div class="input-wrapper">
            <label for="category">Categoria</label>
            <input type="text" name="category" />
          </div>

          <div class="input-wrapper">
            <label for="image">Link da imagem</label>
            <input type="url" name="image" />
          </div>

          <div class="input-wrapper">
            <label for="description"
              >Digite uma descrição para esta ideia</label
            >
            <textarea name="description" cols="30" rows="10"></textarea>
          </div>

          <div class="input-wrapper">
            <label for="title">Título da Ideia</label>
            <input type="text" name="title" />
          </div>

          <a href="#" onclick="onOff()">Voltar</a>
          <button>Salvar</button>
        </form>
      </div>
    </div>

    <script src="/scripts.js"></script>
  </body>
</html>
