body {
  background: #e5e5e5;
  color: #25282b;
}

#container {
  width: 90%;
  max-width: 980px;
  margin: 40px auto;
  display: flex;
}

#intro {
  width: 300px;
  margin-right: 20px;
}

main {
  margin: 32px 0 32px 0;
}

#buttons {
  margin: 0px 0px 32px 0;
  display: flex;
  justify-content: space-evenly;
}

button {
  background: none;
  color: #ff3e84;
  border: none;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

.fat {
  width: 150px;
  height: 40px;
  background: #ff3e84;
  color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.16);
}

.fat:hover {
  text-decoration: none;
}

footer {
  text-align: center;
}

.hide {
  display: none;
}
